@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    color: #df1e26;
    text-decoration: underline;
    font-size: 20px;
    transition: all 0.1s;
  }

  .dashbord-active {
    background-color: #df1e26;
    color: white;
    width: 100%;
    border-radius: 5px;
  }

  .button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #df1e26;
    color: white;
    transition: all 0.5s;
  }

  .button:hover {
    background-color: #1f2937;
    border: none;
  }

  .bgHover:hover {
    background-color: #df1e26;
    transition: all 0.5s;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}
